<div>
	<table>
		<tr>
			<td></td>
			<td ng-repeat="inning in Ctrl.MLBService.linescore.inning">{{$index+1}}</td>
			<td>R</td>
			<td>H</td>
			<td>E</td>
		</tr>
		<tr>
			<td>{{Ctrl.MLBService.game.awayAbbrev}}</td>
			<td ng-repeat="inning in Ctrl.MLBService.linescore.inning">{{inning.away}}</td>
			<td>{{Ctrl.MLBService.linescore.r.away}}</td>
			<td>{{Ctrl.MLBService.linescore.h.away}}</td>
			<td>{{Ctrl.MLBService.linescore.e.away}}</td>
		</tr>
		<tr>
			<td>{{Ctrl.MLBService.game.homeAbbrev}}</td>
			<td ng-repeat="inning in Ctrl.MLBService.linescore.inning">{{inning.home}}</td>
			<td>{{Ctrl.MLBService.linescore.r.home}}</td>
			<td>{{Ctrl.MLBService.linescore.h.home}}</td>
			<td>{{Ctrl.MLBService.linescore.e.home}}</td>
		</tr>
	</table>

	<form name="myForm">
		<label>
			<input type="radio" ng-model="Ctrl.team" value="home">{{Ctrl.MLBService.game.homeAbbrev}}
		</label>
		<label>
			<input type="radio" ng-model="Ctrl.team" value="away">{{Ctrl.MLBService.game.awayAbbrev}}
		</label><br/><br/>
	</form>

	<form name="myForm2">
		<label>
			<input type="radio" ng-model="Ctrl.pitcher" value="pitcher">Pitcher
		</label>
		<label>
			<input type="radio" ng-model="Ctrl.pitcher" value="batter">Batter
		</label>
	</form>

	  <table ng-show="(Ctrl.team=='away') && (Ctrl.pitcher=='batter')">
	  	<tr>
	  		<td>Name</td>
	  		<td>AB</td>
	  		<td>R</td>
	  		<td>H</td>
	  		<td>RBI</td>
	  		<td>BB</td>
	  		<td>SO</td>
	  		<td>AVG</td>
	  	</tr>
        <tr ng-repeat="batter in Ctrl.MLBService.boxscore.batting[0].batter">
        	<td>{{batter.name}}</td>
        	<td>{{batter.ab}}</td>
        	<td>{{batter.r}}</td>
        	<td>{{batter.h}}</td>
        	<td>{{batter.rbi}}</td>
        	<td>{{batter.bb}}</td>
        	<td>{{batter.so}}</td>
        	<td>{{batter.avg}}</td>
        </tr>
     </table>
     <table ng-show="(Ctrl.team=='home') && (Ctrl.pitcher=='batter')">
	  	<tr>
	  		<td>Name</td>
	  		<td>AB</td>
	  		<td>R</td>
	  		<td>H</td>
	  		<td>RBI</td>
	  		<td>BB</td>
	  		<td>SO</td>
	  		<td>AVG</td>
	  	</tr>
        <tr ng-repeat="batter in Ctrl.MLBService.boxscore.batting[1].batter">
        	<td>{{batter.name}}</td>
        	<td>{{batter.ab}}</td>
        	<td>{{batter.r}}</td>
        	<td>{{batter.h}}</td>
        	<td>{{batter.rbi}}</td>
        	<td>{{batter.bb}}</td>
        	<td>{{batter.so}}</td>
        	<td>{{batter.avg}}</td>
        </tr>
    </table>
    <table ng-show="(Ctrl.team=='away') && (Ctrl.pitcher=='pitcher')">
	  	<tr>
	  		<td>Name</td>
	  		<td>BB</td>
	  		<td>HR</td>
	  		<td>H</td>
	  		<td>R</td>
	  		<td>SO</td>
	  	</tr>
        <tr ng-repeat="pitcher in Ctrl.MLBService.boxscore.pitching[0].pitcher">
        	<td>{{pitcher.name}}</td>
        	<td>{{pitcher.bb}}</td>
        	<td>{{pitcher.hr}}</td>
        	<td>{{pitcher.h}}</td>
        	<td>{{pitcher.r}}</td>
        	<td>{{pitcher.so}}</td>
        </tr>
    </table>
    <table ng-show="(Ctrl.team=='home') && (Ctrl.pitcher=='pitcher')">
	  	<tr>
	  		<td>Name</td>
	  		<td>BB</td>
	  		<td>HR</td>
	  		<td>H</td>
	  		<td>R</td>
	  		<td>SO</td>
	  	</tr>
        <tr ng-repeat="pitcher in Ctrl.MLBService.boxscore.pitching[1].pitcher">
        	<td>{{pitcher.name}}</td>
        	<td>{{pitcher.bb}}</td>
        	<td>{{pitcher.hr}}</td>
        	<td>{{pitcher.h}}</td>
        	<td>{{pitcher.r}}</td>
        	<td>{{pitcher.so}}</td>
        </tr>
    </table>
</div>